.dropdownMenuContainer {
  z-index: 1;
  margin-right: 5%;
}

.dropdownMenuContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 30vh;
}

.dropdownMenuItem {
  border-style: double;
  border-color: white;
  background-color: var(--light-square);
  display: block;
  margin:0;
}
