.failBox.hide {
    opacity: 0;
}

.statusBoxInner {
    padding: .5vh;
}

.box {
    /* computers */
    @media only screen and (min-width: 801px) {
        z-index: 100;
        border-radius: 5px;
        width: 20vw;
        height: 8vh;
        border-width: 1px;
        border-style: solid;
        position: fixed;
        margin-left: 40vw;
        margin-top: 4vh;
        transition: opacity 0.25s;
        opacity: 1;
    }
    /* phones+tablets */
    @media only screen and (max-width: 800px) {
        border-radius: 5px;
        width: 50vw;
        height: 12vh;
        border-width: 1px;
        border-style: solid;
        position: fixed;
        margin-left: 25vw;
        margin-top: 4vh;
        transition: opacity 0.25s;
        opacity: 1;
    }
}

.title {
    /* computers */
    @media only screen and (min-width: 801px) {
        text-align: center;
        font-weight: bold;
        font-size: 2vh;
    }
    /* phones+tablets */
    @media only screen and (max-width: 800px) {
        text-align: center;
        font-weight: bold;
        font-size: 3vh;
    }
}

.text {
    /* computers */
    @media only screen and (min-width: 801px) {
        text-align: center;
        font-size: 1vw;
    }
    /* phones+tablets */
    @media only screen and (max-width: 800px) {
        text-align: center;
        font-size: 2vh;
    }
}

#noStatusBox {
    display: none;
}

#failBox {
    background-color: #ffcaca;
    border-color: red;
}

#failTitle {
    color: red;
}

#failText {
    color: red;
}

#successBox {
    background-color: #9fe2a4;
    border-color: green;
}

#successTitle {
    color: green;
}

#successText {
    color: green;
}