.moveForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.moveFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.submitContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input, textarea {
    width: 10vw;
}

select {
    width: 10vw;
}

label {
    background-color: white;
    padding: 1vh;
    border-radius: 10vh;
    color: var(--bg-color-dark);
    width: 10vw;
}
