.newMoveFormContainer {
    width: 80%;
    height: 100%;
    background-color: green;
    display: block;
}

input, textarea {
    margin-bottom: 5%;
    width: 15vw;
}

select {
    margin-bottom: 5%;
}

form {
    margin-right: 5%;
    padding-top: 20%;
    color: white;
}
