.infoContentContainer {
    width: inherit;
    position: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.trapBox {
    border: 1px solid white;
    height: 20vh;
}

.trapBorderExperiment {
    height: inherit;
    outline: none;
    border: none;
    border-color: #9ecaed;
    -webkit-box-shadow: 0px 0px 10px #4195fc;
    -moz-box-shadow: 0px 0px 10px #4195fc;
    box-shadow: 0px 0px 10px #9ecaed;
}

.trapContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
}

.trapTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 25%;
    color: white;
}

.trapInfoContainer {
    width: 75%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--light-square);
    margin-left: 5%;
}

.trapInfo {
    padding: 0;
    margin: 0;
}