.infoContainer {
    height: 100%;
}

.infoContentContainer {
    width: inherit;
    @media only screen and (max-width: 1400px) {
        max-height: 80%;
        height: 80%;
    }
    @media only screen and (min-width: 1400px) {
        max-height: 83%;
        height: 80%;
    }
    border-style: solid;
    border-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
}


.infoTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    height: 10%;
    padding-bottom: 20px;
}

.trapBox {
    border: 1px solid white;
    height: 20vh;
    // background-color: var(--trap-bg-dark);
    background-image: linear-gradient(var(--bg-color-dark), var(--trap-bg-dark));
}

.trapBorderExperiment {
    height: inherit;
    outline: none;
    border: none;
    border-color: #9ecaed;
    -webkit-box-shadow: inset 0 3px 3px 0px #fff,inset 2px 9px 10px 0px #00abe3;
    -moz-box-shadow: inset 0 3px 3px 0px #fff,inset 2px 9px 10px 0px #00abe3;
    box-shadow: inset 0 3px 3px 0px #fff,inset 2px 9px 10px 0px var(--light-square-glow);
}

.trapContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
}

.trapTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    width: 25%;
    color: white;
}

.trapInfoContainer {
    width: 75%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--light-square);
    margin-left: 5%;
}

.trapInfo {
    padding: 0;
    margin: 0;
}