table {
    border-collapse: collapse;
}

tbody {
    border-collapse: collapse;
}

th {
    padding: 0px;
    margin: 0px;
}

tr {
    padding: 0px;
    margin: 0px;
}

.squareContainer {
    position: relative;
}
