.whiteSquare{
  @media only screen and (min-width: 800px) {
    background-color: var(--light-square);
    border: 3px solid black;
    width: 6vw;
    height: 6vw;
    padding: 0px;
    margin: 0px;
    display: block;
  }
  @media only screen and (max-width: 800px) {
    background-color: var(--light-square);
    border: 3px solid black;
    width: 11vw;
    height: 11vw;
    padding: 0px;
    margin: 0px;
    display: block;
  }
}

.whiteSquare:hover{
    background-color: var(--light-square-hover);
}

.blackSquare{
    @media only screen and (min-width: 800px) {
        background-color: var(--dark-square);
        border: 3px solid black;
        width: 6vw;
        height: 6vw;
        padding: 0px;
        margin: 0px;
        display: block;
    }
    @media only screen and (max-width: 800px) {
        background-color: var(--dark-square);
        border: 3px solid black;
        width: 11vw;
        height: 11vw;
        padding: 0px;
        margin: 0px;
        display: block;
    }
}

.blackSquare:hover{
    background-color: var(--dark-square-hover);
}

.orangeSquare{
    @media only screen and (min-width: 800px) {
        background-color: var(--selected-square);
        border: 3px solid black;
        width: 6vw;
        height: 6vw;
        padding: 0px;
        margin: 0px;
        display: block;
    }
    @media only screen and (max-width: 800px) {
        background-color: var(--selected-square);
        border: 3px solid black;
        width: 11vw;
        height: 11vw;
        padding: 0px;
        margin: 0px;
        display: block;
    }
}
