.whiteSquare{
    background-color: var(--light-square);
    border: 3px solid black;
    width: 10vh;
    height: 10vh;
    padding: 0px;
    margin: 0px;
    display: block;
}

.whiteSquare:hover{
    background-color: var(--light-square-hover);
}

.blackSquare{
    background-color: var(--dark-square);
    border: 3px solid black;
    width: 10vh;
    height: 10vh;
    padding: 0px;
    margin: 0px;
    display: block;
}

.blackSquare:hover{
    background-color: var(--dark-square-hover);
}

.orangeSquare{
    background-color: var(--selected-square);
    border: 3px solid rgb(0, 0, 0);
    width: 10vh;
    height: 10vh;
    padding: 0px;
    margin: 0px;
    display: block;
}