.App {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-starts;
  width: 30vw;
  max-height: 90vh;
}

.formComponentContainer {
  background-color: #A3CCF4;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-shrink: 1;
}

.infoComponentContainer {
  background-color: #A3CCF4;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  padding: 10px;
  flex-shrink: 0;
}
