.App {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
}

.formComponentContainer {
  max-width: 30vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.infoComponentContainer {
  background-color: blue;
  max-width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
