.App {
  width: 100%;
  height: 100%;
}

.boardComponentContainer {
  float: left;
  width: 50%;
  height: 80vh;
  padding-left: 5%;
  padding-top: 5vw;
}

.formComponentContainer {
  float: left;
  width: 35%;
  padding-left: 5%;
  height: 100vh;
}
